<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/css/component.css">
    <title>Avatar</title>
</head>

<body>
    <div class="container">
        <nav class="navigation">
            <div class="left-nav">
                <a href="#">Nuclei</a>
            </div>
            <ul class="right-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </nav>
    </div>
    <main class="doc-container">
        <aside class="side-bar">
            <div class="list-topic">Components</div>

            <ul class="list-subtopic">
                <li><a href="alert.html">Alert</a></li>
                <li><a class="active" href="#">Avatar</a></li>
                <li><a href="badge.html">Badge</a></li>
                <li><a href="button.html">Button</a></li>
                <li><a href="card.html">Card</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="list.html">Lists</a></li>
                <li><a href="toast.html">Toast</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
        </aside>

        <section class="doc-content">
            <header class="content-title">Avatar</header>

            <div class="content-subtitle">
                Avatar is where a user's profile photo is displayed. They used to be available in square shape however
                they are now mostly circular. Avatars are used in every website. The main purpose of avatar is to
                provide identity to the user.
            </div>

            <div class="horizontal-line"></div>

            <div class="content-heading">Profile Avatar</div>

            <div class="content-subtitle">
                Profile avatar can be created by using the class <code>avatar</code>, inside an <code>img</code> tag
            </div>

            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example-div%2522%253E%250A%2509%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-1%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-2%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-3%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E"
                style="width: 950px; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="content-heading">Preview</div>

            <div class="example-div">
                <img class="avatar"
                    src="https://images.unsplash.com/photo-1608889825103-eb5ed706fc64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                    alt="avatar-1">

                <img class="avatar"
                    src="https://images.unsplash.com/flagged/photo-1577351285836-19ff13f8e615?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                    alt="avatar-2">

                <img class="avatar"
                    src="https://images.unsplash.com/photo-1568514328861-5465017e40fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=623&q=80"
                    alt="avatar-3">
            </div>

            <div class="horizontal-line"></div>

            <div class="content-heading">Square Avatar</div>

            <div class="content-subtitle">
                Adding a class 'square' to existing class, will generate a square shaped avatar.
            </div>

            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example-div%2522%253E%250A%2509%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-1%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-2%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520square%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-3%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E"
                style="width: 950px; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="content-heading">Preview</div>

            <div class="example-div">
                <img class="avatar square"
                    src="https://images.unsplash.com/photo-1608889825103-eb5ed706fc64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                    alt="avatar-1">

                <img class="avatar square"
                    src="https://images.unsplash.com/flagged/photo-1577351285836-19ff13f8e615?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                    alt="avatar-2">

                <img class="avatar square"
                    src="https://images.unsplash.com/photo-1568514328861-5465017e40fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=623&q=80"
                    alt="avatar-3">
            </div>

            <div class="horizontal-line"></div>

            <div class="content-heading">Size Avatar</div>

            <div class="content-subtitle">
                Size of the avatars can be changed by adding tiny, medium or large class to the existing avatar class.
            </div>

            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522example-div%2522%253E%250A%2509%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520tiny%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-1%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520normal%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-2%2522%253E%250A%2520%2520%250A%2520%2520%253Cimg%2520class%253D%2522avatar%2520huge%2522%2520src%253D%2522image%2520url%2522%2520alt%253D%2522avatar-3%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E"
                style="width: 950px; height: 360px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="content-heading">Preview</div>

            <div class="example-div">
                <img class="avatar tiny"
                    src="https://images.unsplash.com/photo-1608889825103-eb5ed706fc64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
                    alt="avatar-1">

                <img class="avatar normal"
                    src="https://images.unsplash.com/flagged/photo-1577351285836-19ff13f8e615?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
                    alt="avatar-2">

                <img class="avatar huge"
                    src="https://images.unsplash.com/photo-1568514328861-5465017e40fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=623&q=80"
                    alt="avatar-3">
            </div>

            <div class="horizontal-line"></div>

        </section>
    </main>
</body>

</html>