body {
    text-align: center;
}

.badge {
    position: relative;
    width: max-content;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    right: 3px;
    position: absolute;
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-weight: 600;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.profile {
    bottom: 1rem;
    right: 2rem;
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.badge .online {
    background-color: var(--success-color);
}

.badge .offline {
    background-color: var(--offline-color);
}

.badge .dnd {
    background-color: var(--danger-color);
}