.button {
    font-weight: 700;
    background: var(--default-color);
    color: var(--background-color);
    width: max-content;
    padding: 1rem 1rem ;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}

.btn-primary {
    background-color : var(--primary-color);
}

.btn-success {
    background-color: var(--success-color);
}

.btn-danger {
    background-color: var(--danger-color);
}

.btn-warning {
    background-color: var(--warning-color);
} 


.outline {
    background-color: var(--background-color);
    border: 1px solid var(--default-color);
    color : var(--default-color);
}

.outline-success {
    background-color: var(--background-color);
    border: 1px solid var(--success-color);
    color: var(--success-color);
}

.outline-danger {
    background-color: var(--background-color);
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
}

.outline-warning {
    background-color: var(--background-color);
    border: 1px solid var(--warning-color);
    color: var(--warning-color);
}

.link-button {
    background-color: var(--default-color);
    color: var(--background-color);
}

.btn-icon{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    font-size: 1rem;
}

