
.card-img {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.card {
  width: 30%;
  margin: 1rem 1rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.card-title {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 800;
}

.card-price {
  font-weight: 400;
  font-style: italic;
  margin: 10px auto;
}

.card-content {
  font-size: 1rem;
  margin: 10px 0;
}

.card-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.card-button{
  margin: 1rem 0;
}

.card-cart {
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px;
  border-radius: 5px;
}

.card-wishlist {
  text-decoration: none;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}

.text-over {
  opacity: 0.7;
}

.text {
  position: absolute;
  color: var(--primary-color);
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

.cross-sign {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.cross-icon {
  width: 1rem;
  height: 1rem;
}

.new-sign {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px;
  cursor: pointer;
}


@media(max-width: 600px){
.content{
  display: block;
  margin: 0 auto;
}
.card{
  width: 60%;
  margin: 30px auto;
}