<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="image.css">
    <title>Image</title>
</head>

<body>
    <div class="container">
        <nav class="navigation">
            <div class="left-nav">
                <a href="#">Nuclei</a>
            </div>
            <ul class="right-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </nav>
    </div>    
    <main class="doc-container">
            <aside class="side-bar">

                <div>
                    <div class="list-topic">
                        <a>Components</a>
                    </div>
                    <ul class="list-subtopic">
                        <li>
                            <a href="alert.html">
                                Alert
                            </a>
                        </li>
                        <li>
                            <a href="avatar.html">Avatar</a>
                        </li>
                        <li>
                            <a href="badge.html">Badge</a>
                        </li>
                        <li>
                            <a href="button.html">Button</a>
                        </li>
                        <li>
                            <a class="active" href="#">Image</a>
                        </li>
                        <li>
                            <a href="input.html">Input</a>
                        </li>
                    </ul>
                </div>
            </aside>

            <div class="doc-content">
                <div class="content-title">
                    Responsive Image
                </div>
                <div class="content-subtitle">
                    Responsive Image Components are used to display images on websites, which are screen responsive. They expand upto the width of the container they are in and also reduce its width with the change in width of the browser window.
                </div>

                <div class="horizontal-line"></div>

                <div class="content-heading">
                    Round Image 
                </div>

                <div class="content-subtitle">
                    Round Images are generally used as an avatar in most of the websites.
                </div>

                <iframe class="code-snippet" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522url%2520of%2520image%2522%2520alt%253D%2522round-image%2522%2520class%253D%2522round-image%2522%253E%250A" style="width: 900px; height: 220px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin"></iframe>

                <div class="content-heading">
                    Preview
                </div>
               
                <div class="example-div">
                    <img src="https://images.unsplash.com/photo-1608889825103-eb5ed706fc64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="image" class="round-image">
                    <img src="https://images.unsplash.com/photo-1578339850459-76b0ac239aa2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=563&q=80" alt="image" class="round-image"> 
                </div>


                <div class="horizontal-line"></div>

                <div class="content-heading">
                    Responsive Image 
                </div>

                <div class="content-subtitle">
                    As stated above responsive image changes its width according to the screen of the device. It makes the website accessible to users on multiple devices with varying screen size.
                </div>

                <iframe class="code-snippet" src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737.25&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522url%2520of%2520image%2522%2520alt%253D%2522responsive-image%2522%2520class%253D%2522rsp-image%2522%253E%250A" style="width: 900px; height: 220px; border:0; transform: scale(1); overflow:hidden;" sandbox="allow-scripts allow-same-origin"></iframe>

                <div class="content-heading">
                    Preview
                </div>
               
                <div class="example-div">
                    <div>
                        <img src="https://images.unsplash.com/photo-1568514328861-5465017e40fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=923&q=80" alt="responsive-image" class="rsp-image">
                    </div>
                </div>


                <div class="horizontal-line"></div>
                
             
            </div>
        </main>
    </div>
 
</body>
</html>