<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/component.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="toast.css">
    <title>Toast</title>
</head>

<body>
    <div class="container">
        <nav class="navigation">
            <div class="left-nav">
                <a href="/index.html">Nuclei</a>
            </div>
            <ul class="right-nav">
                <li><a href="/index.html">Home</a></li>
                <li><a href="https://github.com/harshparab/Nuclei-UI">Github</a></li>
            </ul>
        </nav>
    </div>
    <main class="doc-container">
        <aside class="side-bar">
            <div class="list-topic">Components</div>

            <ul class="list-subtopic">
                <li><a href="alert.html">Alert</a></li>
                <li><a href="avatar.html">Avatar</a></li>
                <li><a href="badge.html">Badge</a></li>
                <li><a href="button.html">Button</a></li>
                <li><a href="card.html">Card</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="list.html">Lists</a></li>
                <li><a class="active" href="#">Toast</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
        </aside>

        <section class="doc-content">
            <header class="content-title">Toast</header>

            <div class="content-subtitle">
                Toasts are often used as popup to show a message at the bottom of the screen.
            </div>

            <div class="horizontal-line"></div>

            <iframe class="code-snippet"
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=737&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast%2522%253EExample%2520of%2520a%2520toast%253C%252Fdiv%253E%250A"
                style="width: 900px; height: 220px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>

            <div class="content-heading">Preview</div>

            <div class="example-div">
                <div class="toast">Example of a toast</div>
            </div>

            <div class="horizontal-line"></div>
        </section>
    </main>

</body>

</html>